# Credenciales y Configuración Local
bot_config.json
bot_log.txt
session_history_*.json

# Archivos de Compilación de Android
.gradle/
build/
app/build/
*.apk
capturas/

# Archivos de Configuración del IDE (Android Studio / IntelliJ)
.idea/
*.iml
local.properties

# Archivos Temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Dependencias y compilaciones de Node.js / Electron (Reloj de Escritorio)
node_modules/
dist/
package-lock.json
package.json
main.js
app.js
index.html
style.css
electron-app/
reloj_backup/
